@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary: #36e2ec;
}

header nav ul li {
    font-size: 1.8rem;
    color: white;
}

.belowLinks .otherLinks{
    margin-left: -95.5rem;
}

.copyright p{
    margin-left: 59rem;
}

footer hr{
    width: 118%;
    margin-right: -18rem;
}